$red: #f66151;
$green: #57e389;
$blue: #62a0ea;
$yellow: #f6d32d;
$magenta: #c061cb;
$teal: #5bc8aF;
$orange: #ffa348;

$bg: #181818;
$fg: #eeeeee;
$fg_dim: #cccccc;
$hover_fg: #eeeeee;
$accent_fg: #181818;
$accent: #5d8fc9;
$sep: #556666;
