.bar {
	background-color: $bg;
	font-family: all-the-icons;
	font-size: 18px;
	color: $fg;
}

.launcher {
	margin: 3px 0 3px 3px;
	font-size: 18px;
	.dispatcher {
		background-color: $accent;
		color: $bg;
		border-radius: 10px;
		font-size: inherit;
		padding: 0 8px;
	}
}

.workspaces-widget {
	font-family: Product Sans;
	margin: 3px 0;
	padding: 0 10px;
	border-radius: 10px;
	font-size: 16px;

	.0 {
	}

	.1, .2, .3, .4, .5, .6, .7, .8, .9, .10 {
		color: $fgDim;
	}

	.active {
		color: $accent;
	}
}

.sep {
	color: $sep;
}

.wintitle {
	font-family: Product Sans;
	background-color: $bgSecondary;
	color: $accent;
	margin: 3px 0;
	padding: 0 10px;
	border-radius: 10px;
	font-size: 16px;
}

.actionsbox {
	background: $bgSecondary;
	border-radius: 10px;
	padding: 0 12px;
	margin: 3px 0px;

	.network {
	}
	.volume {
	}
	.bluetooth {
	}
}

.date-box {
	font-family: Product Sans;
	font-weight: bold;
	background: $bgSecondary;
	margin: 3px 0px 3px 0;
	padding: 0 2px 0 14px;
	border-radius: 10px;
	.content {
		color: $fg;
		font-size: 14px;
	}
	.date-dropdown {
		margin: 0;
		padding: 0 10px 0 0px;
		color: $fg;
	}
}

.cal-box {
	font-family: Product Sans;
	font-weight: bold;
    font-size: 16px;
	background: $bgSecondary;
	margin: 3px 0px 3px 0;
	padding: 0 2px 0 14px;
	border-radius: 10px;
}

.battery_box {
  font-family: Product Sans;
  background: $bgSecondary;
  border-radius: 10px;
  margin: 3px 0;
  padding: 0 11px 0 10px;
  .battery_box_icon {
    font-size: 16px;
  }
  .battery_box_percent {
    margin-left: -5px;
    font-size: 14px;
    font-weight: 500;
  }
}
